body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    background: #42ba82;
    background: linear-gradient(180deg,
        rgba(66, 186, 130, 1) 10%,
        rgba(255, 255, 255, 1) 100%);
}

main {
    margin-left: var(--sidebar-width, 240px);
    padding: 15px;
}

h2 {
    text-align: center;
    color: white;
    margin-block-start: 0px;
}

.chartContainer {
    width: 75%;
    margin: auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.statsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.stats {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.stats h3 {
    margin: 0;
    font-size: 1rem;
    color: black;
    text-transform: uppercase;
}

.stats p {
    margin: 10px 0 0;
    font-size: 1.5rem;
    color: #42ba82;
}

.filters {
    width: 75%;
    margin: 15px auto;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

#charts, #departmentFilter {
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    width: auto;
}

#charts:hover {
    background-color: whitesmoke;
}

#startDate,
#endDate {
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    background-color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    width: auto;
}

#startDate:hover,
#endDate:hover {
    background-color: whitesmoke;
}

#filterBtn, #exportBtn {
    padding: 8px 15px;
    border-radius: 8px;
    border: none;
    background-color: #3867e9;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    outline: none;
    font-weight: 600;
}